CompileFlags:
  Compiler: /opt/devkitpro/devkitARM/bin/arm-none-eabi-g++
  Add: [
    # Defines and C++ standard
    -DARM9,
    -std=gnu++23,

    # Don't include the C++ STL from this system's root
    -nostdinc++,

    # devkitARM
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/sys,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/rpc,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/pstl,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/splay_tree_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/bin_search_tree_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/pairing_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/hash_fn,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/thin_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/unordered_iterator,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/binomial_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/trie_policy,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/gp_hash_table_map_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/tree_policy,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/rc_binomial_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/rb_tree_map_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/binary_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/ov_tree_map_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/eq_fn,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/list_update_map_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/list_update_policy,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/binomial_heap_base_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/left_child_next_sibling_heap_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/resize_policy,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/pat_trie_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/branch_policy,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/ext/pb_ds/detail/cc_hash_table_map_,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/tr1,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/decimal,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/experimental,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/experimental/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/armv6k,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/armv6k/fpu,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/armv6k/fpu/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/armv6k/fpu/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/v6-m,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/v6-m/nofp,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/v6-m/nofp/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/v6-m/nofp/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/be,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/be/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/thumb/be/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/be,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/be/ext,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/arm-none-eabi/be/bits,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/parallel,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/debug,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/backward,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/13.2.0/tr2,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/ssp,
    -I/opt/devkitpro/devkitARM/arm-none-eabi/include/machine,

    # libnds
    -I/opt/devkitpro/libnds/include,
    -I/opt/devkitpro/libnds/include/arpa,
    -I/opt/devkitpro/libnds/include/nds,
    -I/opt/devkitpro/libnds/include/nds/arm7,
    -I/opt/devkitpro/libnds/include/nds/arm9,
    -I/opt/devkitpro/libnds/include/netinet,
    -I/opt/devkitpro/libnds/include/sys
  ]