name: Build

on:
  push:
    branches: [main]
    paths: [.github/workflows/*, src/**, include/**, CMakeLists.txt]
  pull_request:
    branches: [main]
    paths: [.github/workflows/*, src/**, include/**, CMakeLists.txt]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest

    steps:
      - name: Uninstall system libnds, build and install my fork
        run: |
          sudo dkp-pacman -Rdd libnds --noconfirm
          git clone https://github.com/trustytrojan/libnds -b console-rework
          cd libnds
          sudo -E make install -j`nproc`

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake --preset dkp-release

      - name: Build
        run: cmake --build build -j

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: nds-shell
          path: ./build/nds-shell.*
          if-no-files-found: error
